@media only screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;

    }

    nav ul {
        display: none;
    }

    .hamburger {
        display: block;
        color: #fff;
        float: right;
        font-size: 20px;
        cursor: pointer;
    }

    .menu.active {
        display: block;
    }

    .upcoming,
    .spotlights {
        display: flex;
        flex-direction: column;
        align-items: auto;
    }

    .current-events,
    .weather-card,
    .spotlights {
        font-size: 20px;
    }

    .current-events,
    .weather-card {
        padding: 30px;
        margin-right: 40px;
    }

    .spotlights {
        padding: 30px;
        margin-top: 40px;
        width: auto;
    }

    header {
        padding: 30px;
    }

    .hero img {
        width: 100%;
        max-width: 1000px;
        height: auto;
    }
}